<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Portfolio - DrewLearns.com" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="https://portfolio.drewlearns.com/" />
        <meta property="og:site_name" content="Portfolio.DrewLearns.com" />
        <meta property="og:image" content="http://share.drewlearns.com/bc28d6/Image%202019-12-06%20at%2023.16.47.jpg" />
        <meta property="og:image:secure_url" content="" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="683" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:title" content="Drew Karriker's Web Developer Portfolio" />
        <meta name="twitter:image" content="http://share.drewlearns.com/bc28d6/Image%202019-12-06%20at%2023.16.47.jpg" />
        <meta property="og:description" content="" />
        <meta name="author" content="Drew Karriker" />
        <meta name="date" content="2019-12-10" scheme="YYYY-MM-DD" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.0/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

        <!--<script-->
        <!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
        <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
        <!--crossorigin="anonymous"></script>-->
        <!--<script src="semantic/dist/semantic.min.js"></script>-->
        <title>Drew Learns: Blog App</title>
    </head>
    <body>
        <div class="ui pointed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>DrewLearns Blog Sites</div>
                <a href="/" class="active item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
 
  
