.cybertruck {
  position: relative;
  --x: 0;
  --y: 0;
  --rotateX: 0;
  --rotate: 0;
  transform: translateX(var(--x)) translateY(var(--y)) rotateY(var(--rotateX))
    rotate(var(--rotate));
  transition: transform 0.2s;
  z-index: 0;
}
#twitter {
  position: fixed;
  bottom: 400px;
  right: 50%;
  z-index: -999;
}
.footer{
        position: fixed;
        bottom: 0;
        right: 0
}
.sm-controls{
        position: fixed;
        bottom: 100px;
        right: 42.5%;
}
body {
  font-size: 2rem;
  line-height: 1.5;

  background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
}
.controls {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: end;
  grid-gap: 20px;
}
.key {
  padding: 0;
  font-size: 2em;
  background: none;
  border: none;
  z-index: 100;
  color: white;
  margin: 0;
}
.space {
  max-height: 812px;
  height: 4vh;
}
h2 {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer {
  text-align: center;
  color: white;
}
p {
  color: white;
  text-align: center;
  font-size: 0.5em;
}
a {
  color: blue;
}
.sm-controls {
  display: grid;
  width: 414px;
  margin-left: 33%;
}
