
<footer class="page-footer font-small blue">
        <div class="footer-copyright footer default footer navbar-fixed-bottom text-center py-3">© 2019 Copyright:
                <h5>
                        Learn along with me on similar projects at
                        <a id="link" href="//drewlearns.com/">DrewLearns.com</a>
                </h5>
        </div>
</footer>
</body>
</html>