<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Portfolio - DrewLearns.com" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://portfolio.drewlearns.com/" />
  <meta property="og:site_name" content="Portfolio.DrewLearns.com" />
  <meta property="og:image" content="http://share.drewlearns.com/bc28d6/Image%202019-12-06%20at%2023.16.47.jpg" />
  <meta property="og:image:secure_url" content="" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="683" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:title" content="Drew Karriker's Web Developer Portfolio" />
  <meta name="twitter:image" content="http://share.drewlearns.com/bc28d6/Image%202019-12-06%20at%2023.16.47.jpg" />
  <meta property="og:description" content="" />
  <meta name="author" content="Drew Karriker" />
  <meta name="date" content="2019-12-10" scheme="YYYY-MM-DD" />
          <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign Up</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>