body {
    background-color: #232323;
  }
  .square {
    margin: 1.66%;
    width: 16%;
    height: 14%;
    padding-bottom: 16%;
    float: left;
    border-radius: 2.5vw;
  }
  .off {
    background-color: #23232323;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding-left: 30%;
  }
  h1  {
    color: white;
    text-align: center;
    margin-left: 1.67%;
    margin-right: 1.67%;
    border-radius: 2.5vw;
  }
  h1 span {
    text-transform: uppercase;
    font-size: 2em;
  }
  .menu {
    background-color: #d2d2d2d2;
    display: grid;
    grid-column-gap: 10%;
    margin: auto;
    padding: 1%;
    line-height:1.7em;
    text-align: center;
    font-size: 1.4em;
    margin-left: 1.67%;
    margin-right: 1.67%;
    border-radius: 2.5vw;
    color: #232323;
  }
  ul {
    list-style-type: none;
  }
  .modeSelected {
    background-color: lightgreen;
    font-weight: bold;
    color: white;
  }
  button {
    padding: 15px 20px;
    border-radius: 20vw;
    font-size: 2em;
    background-color: #232323;
    color: white;
  }
  #tries{ 
    color: rgb(217, 68, 52);
  }
  .offbutton {
    display: none;
  }
  