<%- include ('partials/header') %>
<div class="container">
        <header class="jumbotron">
                <div class="container">
                        <h1>Welcome to YelpCamp</h1>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                                perspiciatis, alias possimus?
                        </p>
                        <p>
                                <a href="/campgrounds" class="btn btn-lg btn-primary">View list of available
                                        campgrounds</a>
                                <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add A New Campground</a>
                        </p>
                </div>